#div {
    background-color:rgb(179, 199, 198);
    align-content: center;
    padding:20px;
    margin:20px;
    width:60px;
    margin-left:600px;
    display:flex;
    flex-wrap:wrap;   
}

#button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button:hover {
    background-color: pink;
    color: white;
  }

body{
    background-color:rgb(230, 230, 255);
}